* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    line-height: 1.6;
    color: #333;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    background: #111;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 50px;
    align-items: center;
}

.logo {
    color: #00bcd4;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
}

.hero {
    height: 100vh;
    background: linear-gradient(to right, #111, #222);
    color: rgb(247, 242, 242);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 70px;
}

.hero-buttons {
    margin-top: 20px;
}

.btn {
    padding: 10px 20px;
    background: #00bcd4;
    color: #fff;
    text-decoration: none;
    margin: 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.btn.secondary {
    background: transparent;
    border: 1px solid #00bcd4;
}

.section {
    padding: 80px 50px;
    text-align: center;
}

.section.bg {
    background: #f4f4f4;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    margin-top: 20px;
}

.skill {
    background: #00bcd4;
    color: white;
    padding: 15px;
    border-radius: 5px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.card {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.contact-form {
    max-width: 500px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    margin: 10px 0;
}

footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 15px;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }
}
